<app-navbar></app-navbar>
<!--================ Facilities Area  =================-->
<section class="facilities_area section_gap">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">  
    </div>
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_w">Les Activités </h2>
            <p>Who are in extremely love with eco friendly system.</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    
                    <h4 class="sec_h4">
                       
                            <i class="lnr lnr-dinner" ></i>
                            <a href="restaurant" >Restaurant</a> </h4>
                       
                    <p>La variété est la clé des plaisirs culinaires. La Marina hotel propose une cuisine internationale dans deux restaurants, qui répondent à tous vos besoins.</p>
              
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>
                        <a href="Sport">Sports CLub</a></h4>
                    <p>Sports nautiques, Salle de Sport, Tennis de table, Beach-volley, Animations en soirée,  Pour les plus petits de la famille, l’hôtel dispose d’une ample variété de services.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>
                        <a href="Swimming Pool">SwimmingPool</a></h4>
                        <p>Une superbe piscine extérieure et piscine intérieure est également disponible pour les clients. * Pour les plus petits de la famille, l’hôtel dispose d’une ample variété de services.</p>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-car"></i><a href="spa">Centre du SPA</a></h4>
                    <p>L'hôtel dispose d'un centre de SPA , il est ouvert tous les jours de 10h jusqu'au 19h : sauna, massage, sauna humide (hammam) , douche à jet et hydro massage.</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-construction"></i><a href="Piscine">Gymnesium</a></h4>
                    <p>Une superbe piscine extérieure et piscine intérieure est également disponible pour les clients. Pour les plus petits de la famille, l’hôtel dispose d’une ample variété de services.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i><a href="Bar">Bar</a></h4>
                    <p>Bars et vacances vont de pair, soleil et divertissement! Pour des collations et des boissons fraîches, rendez-vous dans nos bars et détendez-vous à votre endroit préféré. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Facilities Area  =================-->
