<img src="/assets/template_user/image/Logo.png" class="logo" alt="">

<div class="box">
  <div class="header">
    <h2>User Details</h2>
  </div>
  <hr />
  <div *ngIf="user" class="infos">
   
      <label><b>Username :</b></label> {{user.username}} <br>
   
      <label><b>Email :</b></label> {{user.email}}<br>
    
    <div *ngFor="let x of user.roles">

      <label><b>role :</b></label> {{x.name}}
    </div>
  </div>
 

  <br>
  <br>
  <button (click)="list()" class="btn">Back to User List</button><br>
</div>