
   <app-navbar></app-navbar>

   <div class="wrapper">
    <div class="title">
        <h1>Restaurants</h1>
    </div>
    <div class="menu">
        <div class="single-menu">
            <img src="assets/template_user/image/res/salade.jpg" alt="">
            <div class="menu-content">
                <h4>chicken fried salad <span>8dt</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
            </div>
        </div>
        <div class="single-menu">
            <img src="assets/template_user/image/res/assiette-creole.jpg" alt="">
            <div class="menu-content">
                <h4>chicken fried salad <span>20dt</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
            </div>
        </div>
        <div class="single-menu">
            <img src="assets/template_user/image/res/soupe.jpg" alt="">
            <div class="menu-content">
                <h4>chicken fried salad <span>7dt</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
            </div>
        </div>
        <div class="single-menu">
            <img src="assets/template_user/image/res/soupe-1.jpg" alt="">
            <div class="menu-content">
                <h4>chicken fried salad <span>15dt</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
            </div>
        </div>
        <div class="single-menu">
            <img src="assets/template_user/image/res/images.jpg" alt="">
            <div class="menu-content">
                <h4>chicken fried salad <span>25dt</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
            </div>
        </div>
        <div class="single-menu">
            <img src="assets/template_user/image/res/cook.jpg" alt="">
            <div class="menu-content">
                <h4>chicken fried salad <span>45dt</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
            </div>
        </div>
    </div>
</div>
