.head{
    background-color: #4484cc;
    color: white ;
    text-align: center;
    font-size: 18px;

}
.logo{
  margin-left: 3%;
 width: 250px;
 height: 100px;
}
.body{
    
   
    border:white;
}
.btn {
    font-family: 'Quicksand';
   background-color: #4484cc;
   background-size: 200% auto;
   color: white;            
   border: 1.5px solid white;
   border-radius: 24px;
   transition: 0.25px;
   cursor: pointer;
  }
  .btn1{
    position:relative;
    left:80%;
    top: 50%;
   text-decoration: none;
    margin: 20px auto ;
    padding: 10px 30px;
    font-family: 'Quicksand';
    font-weight: bold;
    color: #4484cc;
    background-color: white;
    background-size: 200% auto;
    border-radius: 24px;
    transition: 0.25px;
    border: 3px solid #4484cc; 
    transition: all 0.5s;
    cursor: pointer;
    margin: 25px;
    display: inline-block;

  }
  .btn1:hover{
    background-color:#4484cc ;
    color: white;
    border: 3px solid white; 
  }
.btn1:after{
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.paginate{
  color: #4484cc;
  text-align: center;
  background-color:#4484cc ;
}

 